* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    /* Border and background to check the layout */
    border: 1px solid red;
    background-color: gray;
}